.container{
    max-width: 1320px;
}
body{
    font-family: 'Oswald', sans-serif;
    background-color:#212529;
}
/* =========nav start=========== */
nav{
    position: absolute !important;
    width: 100%;
}
.navbar .nav-item a{
    font-size: 16px;
    font-weight: 400;
    color: #DDDDDD;
    margin-right: 30px;
}
.nav-icon{
    color: white;
}
.nav-icon .icon-text{
    margin-left: 25px;
    margin-right: 31px;
}
.nav-icon i{
    font-size: 25px;
}
.nav-icon .icon-text h4{
    font-size: 16px;
    margin-top: 6px;
}
.icon-text .ex-icon{
    font-size: 14px;
    margin-right: 7px;
}
/* ===========nav end=========== */
/* =================banner start=============== */
#banner{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 337px;
    padding-bottom: 103px;
}
#banner .text-box h4{
    font-size: 27px;
    letter-spacing: 2.7px;
    font-weight: 400;
    color: #ffffff;
}
#banner .text-box h1{
    font-size: 60px;
    width: 496px;
    font-weight: 600;
    color: #ffffff;
     margin-bottom: 5px;
     position: relative;
}
#banner .text-box h1::after {
    content: "";
    width: 90px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    bottom: 10px;
    left: 515px;
}
#banner .text-box p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    width: 523px;
}
#banner .text-box a{
    width: 128px;
    height: 50px;
    background-color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #121212;
    margin-top: 48px;
    margin-bottom: 301px;
    transition: .4s;
    border: 1px solid transparent;
}
#banner .text-box a:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
}
#banner .icon-box i{
    color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #D9D9D9;
    text-align: center;
    line-height: 35px;
    margin-right: 20px;
}
/* =================banner end=============== */
/* ==================about start=================== */
#about .taitel h1{
    font-size: 38px;
    font-weight: 600;
    color: #FFFFFF;
    width: 518px;
    margin-bottom: 68px;
    position: relative;
}
#about .taitel h1::before {
    content: "";
    width: 120px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    bottom: 6px;
    right: 199px;
}
#about .list-taitel h2{
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.81px;
    color: #ffffff;
    margin-bottom: 7px;
}
#about .list ul li i{
    font-size: 15px;
    color: #FF4655;
    margin-right: 10px;
}
#about .list ul li{
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}
#about .list ul{
    padding: 0px;
}
#about p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 13px;
    color: #ffffff;
}
#about a{
    width: 128px;
    height: 50px;
    background-color: #212121;
    display: inline-block;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: #ffffff;
    margin-top: 30px;
    transition: .4s;
    border: 1px solid transparent;
}
#about a:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
}
#about .shep-box .main{
    width: 315px;
    height: 170px;
    background-color: #212121;
    border-radius: 0px 50px;
    text-align: center;
    margin-right: 20px;
}
#about .shep-box h1{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1.8px;
    padding-top: 26px;
    position: relative;
}
#about .shep-box h1::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF4655;
    position: absolute;
    bottom: 6px;
    right: 76px;
}
#about .shep-box .dot::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF4655;
    position: absolute;
    bottom: 6px;
    right: 89px;
}
#about .shep-box h3{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.36px;
    color: #ffffff;
    margin-top: 18px;
}
#about .main-box{
    margin: 0;
    margin-top: 51px;
}
#about{
    padding-top: 34px;
    background-color: #121212;
    padding: 80px;
}
/* ==================about start=================== */
/* ========popular section start========= */
#popular .taitel h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2.66px;
    color: #ffffff;
    width: 454px;
    margin-bottom: 80px;
    position: relative;
    margin-left: auto;
    text-align: right;
}
#popular{
    padding: 90px 0;
    
}
#popular .taitel h1::before {
    content: "";
    width: 105px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    left: 138px;
    bottom: 7px;
}
#popular .popularimg-one{
    position: absolute;
    top: -210px;
}
#popular .main{
    position: relative;
}
.carousel-inner {
    padding-top: 110px;
    padding-right: 23px;
}
#carouselExample{
    margin-top: -76px;
}
#popular .icon-areya{
    position: relative;
}
#popular button .icon-one{
    color: #ffffff;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#popular button .icon-tow{
    color: #ffffff;
    width: 40px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
#popular button .icon-tow{
    position: absolute;
    bottom: 59px;
    right: 0;
}
.carousel-control-next, .carousel-control-prev {
    position: unset;
}

/* ========popular section end========= */
/* ========live section start========= */
#live{
    padding: 90px 0;
    background-color: #121212;
    
}
#live .taitel h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2.66px;
    color: #ffffff;
    margin-bottom: 66px;
    width: 446px;

}
#live .taitel{
    position: relative;
}
#live .taitel h1::before {
    content: "";
    width: 105px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    left: 154px;
    bottom: 72px;
}
#live .main .box{
    
    height: 118px;
    background-color: #212121;
    clip-path: polygon(0 1%, 100% 0%, 89% 100%, 0% 100%);
}
#live .main .box h3 {
    margin-left: -14px;
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 0.96px;
    color: #ffffff;
    padding-top: 34px;
    padding-bottom: 45px;
}
#live .taitel-tow{
    margin-bottom: 49px;
}
#live .taitel-tow h3{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2.25px;
    color: #ffffff;
    text-align: center;
    margin-top: 60px;
}
#live .main .box .img-on{
    padding: 10px 0 9px 10px;
}
#live .main h4{
    font-size: 40px;
    letter-spacing: 6px;
    color: #ffffff;
    text-align: center;
    margin-top: 24px;
}
#live .main .box-to{
    height: 118px;
    background-color: #212121; 
    clip-path: polygon(0 1%, 100% 0%, 100% 100%, 10% 100%);
}
#live .main .box-to h3 {
    font-size: 31px;
    font-weight: 500;
    letter-spacing: 0.96px;
    color: #ffffff;
    padding-top: 34px;
    padding-bottom: 45px;
    padding-left: 47px;
}
#live .main .box-to .img-to{
    margin-left: 96px;
}
#live .main-tow{
    margin-top: 58px;
}
#live .main-one img{
    filter: grayscale(100%);
}
#live .main-one img:hover{
    filter: grayscale(0%);
    transition: .4s;
}
#live .main-one .text-areya .left h2{
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}
#live .main-one .text-areya .left h5{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}
#live .main-one{
    position: relative;
}
#live .main-one .text-areya{
    display: flex;
    padding: 0 25px 23px 23px;
    position: absolute;
    gap: 140px;
    bottom: 0;
    align-items: end;
}
#live .main-one .text-areya .right h3{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    position: relative;
}
#live .main-one .text-areya .right h3::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #FF4655;
    position: absolute;
    left: -13px;
    bottom: 4px;
    border-radius: 50%;
}
#live .main-one i{
    font-size: 22px;
    color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    border: 1px solid #ffffff;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
}
#live .main-one:hover{
    transform: scale(1.1);
    transition: .4s;
    z-index: 9999;
}
/* #live .main .text-areya:hover{
    transform: scale(.9);
} */
/* ========live section end========= */
/* <!-- ======top section start===== --> */
#top .taitel h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2.66px;
    color: #ffffff;
    text-align: right;
    margin-left: auto;
    width: 520px;
    margin-bottom: 47px;
}
#top .taitel{
    position: relative;
}
#top .taitel h1::before{
    content: "";
    width: 105px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    right: 101px;
    bottom: 7px;
}
#top .main h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 8px;
    color: #ffffff;
    margin-top: 18px;
}
#top .main h3{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    color: #666666;
    margin-top: 20px;
}
#top .main .prize h5{
    width: 40px;
    height: 30px;
    background-color: #FF4655;
    font-size: 14px;
    font-weight: 400;
    line-height: 8px;
    padding-top:10px;
}
#top .main .prize h4{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    letter-spacing: 0.96px;
}
#top .main .prize h6{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    line-height: 8px;
    
}
#top .main .prize{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}
#top{
    padding-top: 89px;
    padding-bottom: 90px;
}
#top .last{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 60px;
    margin-bottom: 30px;
}
#top .top-tow .text-areya h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 1.6px;
    color: #FF4655;
    margin-bottom: 15px;
}
#top .top-tow .text-areya h1{
    font-size: 38px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 16px;
}
#top .top-tow .text-areya p{
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    width: 603px;
    margin-bottom: 25px;
}
#top .top-tow .text-areya a{
    width: 128px;
    height: 50px;
    text-decoration: none;
    background-color: #121212;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 31px 13px 31px;
    display: inline-block;
    border: 1px solid transparent;
    transition: .4s;
}
#top .top-tow .text-areya a:hover{
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}
#top .top-tow{
    background-color: #212121;
    padding: 45px 44px 42px 111px;
}
/* <!-- ======top section end===== --> */
/* <!-- =====we section start===== --> */
#we .fa-angle-left{
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    background-color: #FF4655;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    position: absolute;
    z-index: 9999;
    top: 158px;
}
#we .fa-angle-right{
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    background-color: #FF4655;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    position: absolute;
    z-index: 9999;
    right: 0px;
    top: 165px;
}
#we .slider{
    position: relative;
}
#we .we-img{
    width: 100%;
}
#we .slider-item{
    margin: 0 20px;
}
#we{
    background-color: #121212;
    padding-top: 90px;
    padding-bottom: 86px;
}
#we .taitel h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2.66px;
    color: #ffffff;
    width: 446px;
}
#we .taitel h1::before{
    content: "";
    width: 105px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    left: 228px;
    bottom: 7px;
}
#we .taitel{
    position: relative;
    margin-bottom: 102px;
}
#we .main h2{
    font-size: 40px;
    letter-spacing: 0.4px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}
#we .main h3{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
#we .main h4{
    font-size: 16px;
    font-weight: 600;
    color: #FF4655;
    text-align: center;
    margin-bottom: 7px;
}
#we .main{
    background-color: #212121;
    padding: 22px 38px 24px 37px;
}
#we .icon-box{
    position: relative;
}
#we .icon-box .lefticon {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF4655;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: -232px;
    left: -21px;
}
#we .icon-box .righticon {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FF4655;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: -3px;
    top: -222px;
}
/* <!-- =====we section end===== --> */
/* <!-- ======meet section start====== --> */
#meet .taitel h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 2.66px;
    color: #ffffff;
    width: 446px;
    margin-left: auto;
    text-align: right;
    width: 548px;
    margin-bottom: 49px;
}
#meet .taitel{
    position: relative;
}
#meet .taitel h1::before{
    content: "";
    width: 105px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    right: 109px;
    bottom: 7px;
}
#meet .icon i{
    width: 35px;
    height: 35px;
    background-color: #FF4655;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 20px;
}
#meet .overlay{
    width: 100%;
    display: flex;
    gap: 100px;
    align-items: end;
    padding: 39px 30px 30px 29px;
    background-color: rgba(37, 36, 36, 38%);
}
#meet .overlay .text-box h2{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;
}
#meet .overlay .text-box p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 19px;
    width: 300px;
}
#meet .overlay .text-box a{
    width: 105px;
    height: 32px;
    background-color: #FF4655;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    padding: 4px 20px 4px 20px;
}
#meet .item{
    position: relative;
    overflow: hidden;
}
#meet .overlay {
    position: absolute;
    bottom: -134px;
    z-index: 9999;
}
#meet img{
    filter: grayscale(100%);
}
#meet img:hover{
    filter: grayscale(0%);
    transition: .4s;
}
#meet{
    background-color: #191919;
    padding-top: 100px;
    padding-bottom: 74px;
}
#meet .meet-tow{
    margin-top: 29px;
}
#meet .item:hover .overlay{
    bottom: 1px;
    transition: .4s;
}

/* <!-- ======meet section end====== --> */
/* <!-- =======FREQUENTLY section start======= --> */
#FREQUENTLY .taitel h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 3.8px;
    color: #ffffff;
    position: relative;
    margin-bottom: 92px;
}
#FREQUENTLY .taitel h1::before {
    content: "";
    width: 128px;
    height: 3px;
    background-color: #FF4655;
    position: absolute;
    left: 410px;
    bottom: 4px;
}
#FREQUENTLY .content .text h2{
    font-size: 22px;
    font-weight: 600;
    color: #FF4655;
    margin-bottom: 11px;
}
#FREQUENTLY .content .text p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    width: 427px;
}
#FREQUENTLY .content .number{
    width: 70px;
    height: 70px;
    background-color: #FF4655;
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
}
#FREQUENTLY .content{
    display: flex;
    gap: 42px;
    padding-bottom: 75px;
}
#FREQUENTLY .content-tow .text h2{
    font-size: 22px;
    font-weight: 600;
    color: #FF4655;
    margin-bottom: 11px;
}
#FREQUENTLY .content-tow .text p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    width: 427px;
}
#FREQUENTLY .content-tow .number{
    width: 70px;
    height: 70px;
    background-color: #FF4655;
    color: #ffffff;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
}
#FREQUENTLY .content-tow{
    display: flex;
    gap: 42px;
    padding-top: 75px;
}
#FREQUENTLY{
    padding-top: 55px;
    padding-bottom: 200px;
    background-color: #121212;
}
/* <!-- =======FREQUENTLY section end======= --> */
/* <!-- ========footer section start======== --> */
#footer{
    padding-top: 112px;
    background-color: #191919;
}
#footer .parent{
    position: relative;
}
#footer .main{
    height: 165px;
    background-color: #FF4655;
    position: absolute;
    top: -196px;
}
#footer .main .text h1{
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    width: 725px;
    padding: 35px 0 34px 30px;
}
#footer .input-box input{
    width: 409px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    border: none;
    padding: 30px;
    margin-right: 16px;
}
#footer .input-box input::placeholder{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}
#footer .input-box{
    position: relative;
}
#footer .input-box .subscribe{
    width: 117px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #191919;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 502px;
}
#footer .left .icon-box i{
    width: 50px;
    height: 50px;
    background-color: #212529;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    font-size: 28px;
    margin-right: 10px;
}
#footer .left .icon-box i:hover{
    background-color: #FF4655;
    color: #ffffff;
    transition: .3s;
}
#footer .left p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-top: 30px;
    margin-bottom: 59px;
    width: 451px;
}
#footer .main{
    margin-bottom: 40px;
}
#footer .list .one h2{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;
}
#footer .list .tow h2{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;
}
#footer .list .one ul{
    padding: 0;
}
#footer .list .tow ul{
    padding: 0;
}
#footer .list .one ul li{
    color: #ffffff;
    list-style: none;
    margin-bottom: 30px;
    color: #666666;
    transition: .3s;
}
#footer .list .tow ul li{
    color: #ffffff;
    list-style: none;
    margin-bottom: 30px;
    color: #666666;
    transition: .3s;
}
#footer .list .one ul li:hover{
    color: #FF4655;
}
#footer .list .tow ul li:hover{
    color: #FF4655;
}
#footer .list{
    display: flex;
    gap: 166px;
}
#footer .right h2{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;
}
#footer .copyright h5{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
#footer .copyright{
    height: 80px;
    border-top: 1px solid #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
#footer .copyright span{
    font-size: 20px;
    font-weight: 400;
    color: #FF4655;
}
/* <!-- ========footer section end======== --> */